


@import url('https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@0,500;0,700;2,400&family=Koulen&family=Staatliches&display=swap');



#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}





/* --------- */




/* Button background color */
#add-to-cart-btn {
  background-color:  #d1c091; /* orange color */


  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
    border: 1px solid #ccc;
margin: 5px;
border-radius: 3px;
color: #fff;
width: 100%;

}


/* Button hover effect */
.add-to-cart-btn:hover {
  background-color:  #d1c091; /* darker orange color */
  cursor: pointer;
}



/* --------- */

/* Style the tab */
.tab {
  overflow: hidden;

  background-color: #fff;
  position: relative;
float: right;
width: 100%;


}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
    border: 1px solid #ccc;
margin: 5px;
border-radius: 3px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;

  border-top: none;
}


 @media screen and (max-width: 650px) {}

}



/* --------- */



form {
border-radius: 5px;
}
.container {border-radius: 5px;
  padding: 20px;
  background-color: #fff;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}



input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #d1c091;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
/* --------- */



/* .section-header:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e5e5e5;
    z-index: 0;
    width: 99%;
} */

.section--title{
margin-right: 15px;
text-align: center;

}

.divider {
  width: 150px;
  height: 5px;
  background-color: #d1c091;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
/* --------- */




 .Container{

     /* background-color: lightgreen; */
       width: 99%;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;
     align-content: flex-start;
     margin: auto;
     min-height: 30em;
     padding: 3em 1em 1em 1em;
     box-sizing: border-box;
 }

 




 /* Card Styling */
 .card-div{    border: 1px solid #ccc;
     width: 20em;
     min-height: 20em;
     display: flex;
     flex-direction: column;
     justify-items: center;
     align-items: center;
     background-color: var(--card-main-color);
     margin: 0.6em;
     box-sizing: border-box;
     border-radius: 8px;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: transform 0.2s ease-in-out;
      border-radius: 8px ;
 }

 /* ======== General styling of all cards and heart divs ========== */
 .img-div{
     width: 100%;
     height: 8em;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding-top: 1rem;
     z-index: 1;
     border-radius: 0 0 10px 10px;
 }

 .img-div img{
     transform-origin: bottom;
     transform: translateY(7.5%);
     transition: transform 0.3s ease-in-out
 }



 /* God of war image and heart-background*/
 .gow-img-div{
     background-color: var(--card-1-secondary-color);
 }

 .gow-img-div img{
     width: 100%;
     border-radius: 8px 8px  0px  0px ;

     /* background-color: whitesmoke; */
 }



 /* ======== text Container Styling general ======== */

 .text-container{
     width: 100%;
     display: flex;
     flex-direction: column;
     /* background-color: yellow; */
     padding: 0 1.5em;

     padding-bottom: 1em;
     box-sizing: border-box;
 }

 .text-container .item-name,
 .text-container .date{
     margin: 0.25em 0;
     text-align: center;
 }

 .text-container .item-name{
     font-size: 1em;
     font-weight: var(--title-font-weight);
     color: var(--heading-color);
 }

 .text-container .date{
     font-size: 0.9em;
     font-weight: var(--date-font-weight);
     color: var(--date-text-color);
 }

 /* === Pricing and cart div  ===== */
 .pricing-and-cart{
     /* background-color: wheat; */
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin: 0.25em 0 1em 0;
 }

 .pricing{
     display: flex;
     flex-direction: column;
     text-align: right;
 }


 .current-price{
     color: var(--current-price-text-color);
     font-size: 1.3rem;
     font-weight: var(--pricing-font-weight);
     /* background-color: yellow; */
     margin: 0;

   color: #d1c091;;
     font-size: 22px;
     font-weight: 400;
     margin-bottom: .5rem;

 }
 .original-price {
     text-decoration: line-through;
     color: #a09797;
     font-size:14px;
 }


 .pricing-and-cart{
     width: 100%;
 }

 .discount-percentage {
   position: absolute;
   color: white;
   font-size: 25px;
   margin-top:0px;
   margin-right:5px;
 }
 .discount-but{
 background-color:  #d1c091; /* orange color */
 border: none;
 outline: none;
 cursor: pointer;
 padding:  0px 20px  0px 20px   ;
 transition: 0.3s;
 font-size: 15px;
 border: 1px solid #ccc;
 border-radius: 50px 0px 50px 0px ;
 color: #fff;

 }


 .fa-shopping-cart{
     font-size: 1rem;
     top: 0;
     color: #d1c091;
     padding:  3px ;
     color:#fff;
 }
 .add-to-cart{
   background-color:  #d1c091; /* orange color */
   border: none;
   outline: none;
   cursor: pointer;
   padding:  0px 5px  0px 5px   ;
   transition: 0.3s;
   font-size: 8px;
   border: 1px solid #ccc;
   border-radius: 50px;
   color: #fff;

 }


 #button {
   border: none;
   color: white;
   margin:5%;
   background-color: #d1c091;
   position: relative;
   float: right;
   width: 40%;
   height: 40px;
   margin-bottom:1%;
   border-radius:8px ;}

 /* ====== Hover effects ======= */
 .card-div:hover .img-div img{
     transform: translateY(7.5%) scale(1.2);
 }

 .card-div:hover{
     transform: translate(0, -10px);
 }


 a {
   color: #d1c091;/* Set link color */
   text-decoration: none; /* Remove underline */
   font-weight: bold; /* Set font weight */
 }

 a:hover {

   /* text-decoration: underline; /* Add underline on hover */ */
 }
 .fa-shopping-cart:hover {

 }

 .add-to-cart:hover {
   transform: translateY(10%);
 }
 /* --------- */


           input[type=text], select, textarea {
             width: 100%;
             padding: 12px;
             border: 1px solid #ccc;
             border-radius: 4px;
             box-sizing: border-box;
             margin-top: 6px;
             margin-bottom: 16px;
             resize: vertical;
           }

           input[type=submit] {
             background-color: #fff;
             color: white;
             padding: 12px 20px;
             border: none;
             border-radius: 4px;
             cursor: pointer;
           }

           input[type=submit]:hover {
             background-color:  #fff;
           }

           /* Set a style for all buttons */
           .buttonform {
             background-color: #d1c091;
             color: white;
             padding: 14px 20px;
             margin: 8px 0;
             border: none;
             cursor: pointer;
             width: 100%;
           }

           .buttonform:hover {
             opacity: 0.8;
           }

           /* Extra styles for the cancel button */
           .cancelbtn {
             width: auto;
             padding: 10px 18px;
             background-color: #f44336;
            text-align: center;
              width:100px;
               color:#fff;

            border-radius:5px;
            margin: auto
           }

           /* Center the image and position the close button */
           .imgcontainer {
             text-align: center;
             margin: 24px 0 12px 0;
             position: relative;
           }

           img.avatar {
             width: 40%;
             border-radius: 50%;
           }

           .container {
             padding: 16px;
           }

           span.psw {
             float: right;
             padding-top: 16px;
           }

           /* The Modal (background) */
           .modal {
             display: none; /* Hidden by default */
             position: fixed; /* Stay in place */
             z-index: 1; /* Sit on top */
             left: 0;
             top: 0;
             width: 100%; /* Full width */
             height: 100%; /* Full height */
             overflow: auto; /* Enable scroll if needed */
             background-color: rgb(0,0,0); /* Fallback color */
             background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
             padding-top: 30px;
             margin: auto;
           }

           /* Modal Content/Box */
           .modal-content {
             background-color: #fefefe;
             margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
             border: 1px solid #888;
             width: 50%; /* Could be more or less, depending on screen size */
             border-radius: 10px;
             margin-top:-5px;
             z-index: 100;

           }

           /* The Close Button (x) */
           .close {
              position: absolute;
             left: 5px;
             top: 0;
             color: #000;
             font-size: 35px;
             font-weight: bold;

           }

           .close:hover,
           .close:focus {
             color: red;
             cursor: pointer;
           }

           /* Add Zoom Animation */
           .animate {
             -webkit-animation: animatezoom 0.6s;
             animation: animatezoom 0.6s
           }

           @-webkit-keyframes animatezoom {
             from {-webkit-transform: scale(0)}
             to {-webkit-transform: scale(1)}
           }

           @keyframes animatezoom {
             from {transform: scale(0)}
             to {transform: scale(1)}
           }



           @media screen and (max-width: 650px) {

             /* Modal Content/Box */
             .modal-content {
               background-color: #fefefe;
               margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
               border: 1px solid #888;
               width: 90%; /* Could be more or less, depending on screen size */
               border-radius: 10px;
               margin-top:-5px;

             }
     }

           /* Change styles for span and cancel button on extra small screens */
           @media screen and (max-width: 300px) {
             span.psw {
                display: block;
                float: none;
             }
             .cancelbtn {
                width: 100%;
             }
           }






           .card_imG{

               aspect-ratio: 1 / 1;
               object-fit: cover;
               border-radius: 50%;
               border: 3px solid #d1c091;
               width: 50px;
               height:50px;
           }

           /* --------- */








                            .butsuccess {
                              border: 2px solid  #d1c091;
                              background-color: white;
                              color: black;
                              padding: 3px 10px;
                              font-size: 13px;
                              cursor: pointer;
                              border-color:  #d1c091;
                              list-style: none;
                              float: right;
                              margin: 10px;
                              border-radius: 50px;
                              color: #d1c091;
                            }

                            .butsuccess:hover {
                              background-color:#d1c091;
                              color: white;
                            }



                            .Selected {
                              background-color: #d1c091;
                              color: white;
                            }




           /* --------- */
